@using Microsoft.AspNetCore.Mvc.Localization
@model Skoruba.IdentityServer4.Admin.AspNetIdentity.Dtos.Grant.PersistedGrantDto
@inject IViewLocalizer Localizer

@{
	ViewBag.Title = Localizer["PageTitle"];
	Layout = "_Layout";
}	

<h2>@Localizer["PageTitle"]</h2>

<form id="client-form" asp-controller="Grant" asp-action="PersistedGrantDelete" Method="post">

	<input type="hidden" asp-for="Key" />

	<div class="row table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>@Localizer["TableSubjectId"]</th>
					<th>@Localizer["TableType"]</th>
					<th>@Localizer["TableExpiration"]</th>
					<th>@Localizer["TableData"]</th>
					<th>@Localizer["TableClient"]</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>@Model.SubjectId</td>
					<td>@Model.Type</td>
					<td>@Model.Expiration</td>
					<td>@Model.Data</td>
					<td>@Model.ClientId</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="row">
		<div class="col-md-12">
			<button type="submit" class="btn btn-danger">@Localizer["ButtonDeleteGrant"]</button>
		</div>
	</div>
</form>