@using Microsoft.AspNetCore.Mvc.Localization
@using Skoruba.IdentityServer4.STS.Identity.Configuration.Interfaces
@using Skoruba.IdentityServer4.STS.Identity.Helpers.Localization
@inject IViewLocalizer Localizer
@model Skoruba.IdentityServer4.STS.Identity.ViewModels.Account.LoginViewModel
@inject IRootConfiguration RootConfiguration

@await Html.PartialAsync("_ValidationSummary")

<main class="d-flex align-items-stretch">
    <div class="fixed-wrap login-left"></div>
    <div class="stretch-wrap">
        <div class="logo logo__mr_bottom">
            <img src="../dist/img/UpKeepr_Wordmark.svg" alt="">
        </div>
        <h5 class="text-center">Login</h5>
        <div class="social-access social-access__mr_bottom d-flex justify-content-between align-items-stretch">
            @if (Model.VisibleExternalProviders.Any())
            {
                @foreach (var provider in Model.VisibleExternalProviders)
                {
                    <a asp-action="ExternalLogin"
                       asp-route-provider="@provider.AuthenticationScheme"
                       asp-route-returnUrl="@Model.ReturnUrl" class="social-access__button">
                        <span class="social-access__icon">
                            <img width="18" height="18" src="../dist/img/@provider.DisplayName.ToLower()-ico.svg" />
                        </span>
                        @provider.DisplayName
                    </a>
                }
            }
        </div>
        <p class="text-center regTitle">Or use your email:</p>
        <form asp-route="Login" method="post">
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="row mx-0 align-items-center">
                <div class="col-12 px-0">
                    <div class="group">
                        <span class="input-icon">
                            <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.9329 2.66602H3.26619C2.53286 2.66602 1.93953 3.26602 1.93953 3.99935L1.93286 11.9993C1.93286 12.7327 2.53286 13.3327 3.26619 13.3327H13.9329C14.6662 13.3327 15.2662 12.7327 15.2662 11.9993V3.99935C15.2662 3.26602 14.6662 2.66602 13.9329 2.66602ZM13.9329 5.33268L8.59953 8.66601L3.26619 5.33268V3.99935L8.59953 7.33268L13.9329 3.99935V5.33268Z" fill="#81CC35" />
                            </svg>
                        </span>
                        <input class="common-input" type="text" asp-for="Email">
                        <span class="bar"></span>
                        <label class="common-label" asp-for="Email">@Localizer["Email"]</label>
                        <span class="validation-text" asp-validation-for="Email"></span>
                    </div><!---/.group-->
                </div>
                <div class="col-12 px-0">
                    <div class="group">
                        <span class="input-icon">
                            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.43341 7.16569C7.88675 5.61236 6.40675 4.49902 4.66675 4.49902C2.46008 4.49902 0.666748 6.29236 0.666748 8.49902C0.666748 10.7057 2.46008 12.499 4.66675 12.499C6.40675 12.499 7.88675 11.3857 8.43341 9.83236H11.3334V12.499H14.0001V9.83236H15.3334V7.16569H8.43341ZM4.66675 9.83236C3.93341 9.83236 3.33341 9.23236 3.33341 8.49902C3.33341 7.76569 3.93341 7.16569 4.66675 7.16569C5.40008 7.16569 6.00008 7.76569 6.00008 8.49902C6.00008 9.23236 5.40008 9.83236 4.66675 9.83236Z" fill="#81CC35" />
                            </svg>
                        </span>
                        <span class="input-icon input-icon__password" onclick="seePass(" ")">
                            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.00008 5.6276C9.84008 5.6276 11.3334 7.12094 11.3334 8.96094C11.3334 9.39427 11.2467 9.80094 11.0934 10.1809L13.0401 12.1276C14.0467 11.2876 14.8401 10.2009 15.3267 8.96094C14.1734 6.03427 11.3267 3.96094 7.99341 3.96094C7.06008 3.96094 6.16675 4.1276 5.34008 4.4276L6.78008 5.8676C7.16008 5.71427 7.56675 5.6276 8.00008 5.6276ZM1.33341 3.8076L2.85342 5.3276L3.16008 5.63427C2.05341 6.49427 1.18675 7.64094 0.666748 8.96094C1.82008 11.8876 4.66675 13.9609 8.00008 13.9609C9.03341 13.9609 10.0201 13.7609 10.9201 13.4009L11.2001 13.6809L13.1534 15.6276L14.0001 14.7809L2.18008 2.96094L1.33341 3.8076ZM5.02008 7.49427L6.05341 8.5276C6.02008 8.6676 6.00008 8.81427 6.00008 8.96094C6.00008 10.0676 6.89341 10.9609 8.00008 10.9609C8.14675 10.9609 8.29341 10.9409 8.43341 10.9076L9.46675 11.9409C9.02008 12.1609 8.52675 12.2943 8.00008 12.2943C6.16008 12.2943 4.66675 10.8009 4.66675 8.96094C4.66675 8.43427 4.80008 7.94094 5.02008 7.49427ZM7.89341 6.97427L9.99341 9.07427L10.0067 8.9676C10.0067 7.86094 9.11341 6.9676 8.00675 6.9676L7.89341 6.97427Z" fill="#98979B" />
                            </svg>
                        </span>
                        <input class="common-input password-input" type="password" asp-for="Password">
                        <span class="bar"></span>
                        <label class="common-label" asp-for="Password">@Localizer["Password"]</label>
                        <span class="validation-text" asp-validation-for="Password"></span>
                    </div><!---/.group-->
                </div>
            </div>
            <div class="row row__my mx-0 align-items-center">
                <div class="col-12 col-sm-6 px-0 pr-sm-2">
                </div>
                <div class="col-12 col-sm-6 px-0 pt-3 pt-sm-0 pl-sm-2">
                    <a asp-action="ForgotPassword" asp-controller="Account">Forgot your password?</a>
                </div>
            </div>
            <div class="row row__my mx-0 align-items-center">
                <div class="col-12 col-sm-6 px-0 pr-sm-2">
                </div>
                <div class="col-12 col-sm-6 px-0 pt-3 pt-sm-0 pl-sm-2">
                    <button class="common-button disabled" type="submit">
                        @Localizer["Login"]
                        <span class="common-icon pl-1">
                            <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.5 6.91406e-07L5.4425 1.0575L9.6275 5.25L0.5 5.25L0.5 6.75L9.6275 6.75L5.435 10.935L6.5 12L12.5 6L6.5 6.91406e-07Z" fill="white" />
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
        </form>
        <div class="footer-small">
            Don't have an account? <a asp-action="Register" asp-controller="Account">Registration</a>
        </div>
    </div>
</main>