@using IdentityServer4.Extensions
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="welcome-block px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4"><img class="icon" alt="Logo" src="~/images/skoruba-icon.png"><br />@Localizer["Title"]</h1>
    <p class="lead">@Localizer["SubTitle"]</p>
</div>

<div class="card-deck mb-3 text-center">

    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">@Localizer["Discovery"]</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title">
                <span class="oi oi-monitor" title="@Localizer["Discovery"]" aria-hidden="true"></span>
            </h1>
            <a href="~/.well-known/openid-configuration" class="btn btn-lg btn-block btn-primary">@Localizer["Discovery"]</a>
        </div>
    </div>

    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">@Localizer["Grants"]</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title">
                <span class="oi oi-key" title="@Localizer["Grants"]" aria-hidden="true"></span>
            </h1>
            <a asp-controller="Grants" asp-action="Index" class="btn btn-lg btn-block btn-outline-primary">@Localizer["Grants"]</a>
        </div>
    </div>
    @if (!User.IsAuthenticated())
    {
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">@Localizer["Login"]</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title">
                    <span class="oi oi-lock-locked" title="@Localizer["Login"]" aria-hidden="true"></span>
                </h1>
                <a asp-controller="Account" asp-action="Login" class="btn btn-lg btn-block btn-primary">@Localizer["Login"]</a>
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-sm-8">
        <p>
            @Localizer["LinkTitle"]
            <a href="https://github.com/identityserver/IdentityServer4">@Localizer["LinkSource"]</a>,
            <a href="https://github.com/identityserver/IdentityServer4.Samples">@Localizer["LinkSamples"]</a>.
        </p>
    </div>
</div>
