@using Microsoft.AspNetCore.Mvc.Localization
@using Skoruba.IdentityServer4.Admin.BusinessLogic.Shared.Dtos.Common
@using Skoruba.IdentityServer4.Admin.Helpers
@model Skoruba.IdentityServer4.Admin.ViewModels.Audit.IndexViewModel
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["PageTitle"];
    Layout = "_Layout";
}

<h2>@Localizer["PageTitle"]</h2>

<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>@Localizer["TableTimestamp"]</th>
                        <th>@Localizer["TableAction"]</th>
                        <th>@Localizer["TableActor"]</th>
                        <th>@Localizer["TableSubject"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var audit in Model.Audits.Audits)
                    {
                        <tr>
                            <td>
                                <a href="#" data-error-id="@audit.Id" class="btn btn-primary btn-error-detail">@Localizer["TableShowDetail"]</a>
                            </td>
                            <td>
                                <span class="local-datetime" title="@audit.TimeStamp" data-utc="@audit.TimeStamp.GetEpochTicks()" data-toggle="tooltip" data-placement="top">
                                    @audit.TimeStamp.LocalDateTime
                                </span>
                                <span class="oi oi-clock" title="@audit.TimeStamp" data-toggle="tooltip" data-placement="top"></span>
                            </td>
                            <td>@audit.Action</td>
                            <td>@audit.Actor</td>
                            <td>@audit.Subject</td>
                        </tr>
                        <tr class="row-error-detail d-none" data-error-id="@audit.Id">
                            <td colspan="5" data-error-json="@audit.LogEvent"></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        @await Html.PartialAsync("Common/Pager", new Pager { Action = "GetAudits", PageSize = Model.Audits.PageSize, TotalCount = Model.Audits.TotalCount, EnableSearch = true, Search = ViewBag.Search })
    </div>
</div>