@using Microsoft.AspNetCore.Mvc.Localization
@using Skoruba.IdentityServer4.Admin.ViewModels.Common
@using Skoruba.IdentityServer4.Admin.ViewModels.Configuration
@model Skoruba.IdentityServer4.Admin.ViewModels.Configuration.ApiSecretsDto
@inject IViewLocalizer Localizer

@{
	ViewBag.Title = Localizer["PageTitle"];
	Layout = "_Layout";
}

<form class="form-horizontal" asp-controller="Configuration" asp-action="ApiSecrets" Method="post">
	<div class="row">
		<div class="col-md-12">
			<h3>@Localizer["PageTitle"] - @Model.ApiResourceName</h3>
		</div>

		<div class="col-md-12">
			<div asp-validation-summary="All" class="text-danger"></div>
		</div>

		<div class="col-md-12">
			<a asp-action="ApiResource" asp-route-id="@Model.ApiResourceId" class="btn btn-outline-primary col-m-b-15">@Localizer["ButtonBackApiResource"]</a>
		</div>

		<div class="col-md-12">
			<div class="card mt-3">
				<h5 class="card-header">@Localizer["PanelNewTitle"]</h5>
				<div class="card-body">

					<!--Hidden -->
					<input type="hidden" asp-for="ApiResourceId" />

					<!--Select-->
					<div class="form-group row">
						<label asp-for="Type" class="col-sm-3 col-form-label">
							@Html.Partial("Client/Section/Label", "SecretType")
						</label>
						<div class="col-sm-9">
							<select asp-for="Type" asp-items="@Model.TypeList" class="form-control single-select"></select>
						</div>
					</div>

					<!--Input - text -->
					<div class="form-group row">
						<label asp-for="Value" class="col-sm-3 col-form-label">
							@Html.Partial("Client/Section/Label", "SecretValue")
						</label>
						<div class="col-sm-9">
							<input type="text" required class="form-control" asp-for="Value">
							<span asp-validation-for="Value" class="text-danger"></span>
						</div>
					</div>

					<!--Select-->
					<div class="form-group row">
						<label asp-for="HashType" class="col-sm-3 col-form-label">
							@Html.Partial("Client/Section/Label", "HashType")
						</label>
						<div class="col-sm-9">
							<select asp-for="HashType" asp-items="@Model.HashTypes" class="form-control single-select"></select>

							<div class="alert alert-warning" role="alert">
								<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								<span class="sr-only">@Localizer["InfoTitle"]</span>
								@Localizer["InfoDescription"]
							</div>
						</div>
					</div>

					<!--Label-->
					<div class="form-group row">
						<div class="col-md-12">

						</div>
					</div>

					<!--Button-->
					<div class="form-group row">
						<label class="col-sm-3 col-form-label">
						</label>
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> @Localizer["ButtonAddNewClient"]</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</form>

<div class="row">
	<div class="col-md-12">
		<div class="card mt-3">
			<h5 class="card-header">@Localizer["PanelTitle"]</h5>
			<div class="card-body">

				<div class="row table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th></th>
								<th>@Localizer["TableType"]</th>
								<th>@Localizer["TableValue"]</th>
							</tr>
						</thead>

						<tbody>
							@foreach (var secret in Model.ApiSecrets)
							{
								<tr>
									<td><a asp-action="ApiSecretDelete" asp-route-id="@secret.Id" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> @Localizer["TableButtonRemove"]</a></td>
									<td>@secret.Type</td>
									<td>@secret.Value</td>
								</tr>
							}
						</tbody>
					</table>
				</div>

				<div class="row">
					<div class="col-12">
						@Html.Partial("Common/Pager", new Pager() { Action = "ApiSecrets", PageSize = Model.PageSize, TotalCount = Model.TotalCount })
					</div>
				</div>

			</div>
		</div>

	</div>
</div>

