@using Microsoft.AspNetCore.Mvc.Localization
@using Skoruba.IdentityServer4.Admin.ViewModels.Common
@using Skoruba.IdentityServer4.Admin.ViewModels.Configuration
@model Skoruba.IdentityServer4.Admin.ViewModels.Configuration.ClientPropertiesDto
@inject IViewLocalizer Localizer

@{
	ViewBag.Title = Localizer["PageTitle"];
	Layout = "_Layout";
}

<form class="form-horizontal" asp-controller="Configuration" asp-action="ClientProperties" Method="post">
	<div class="row">
		<div class="col-md-12">
			<h3>@Localizer["PageTitle"] - @Model.ClientName</h3>
			
			<div asp-validation-summary="All" class="text-danger"></div>

			<a asp-action="Client" asp-route-id="@Model.ClientId" class="btn btn-info col-m-b-15">@Localizer["ButtonBackClient"]</a>

			<!--Hidden -->
			<input type="hidden" asp-for="ClientId" />
			
			<!--Hidden -->
			<input type="hidden" asp-for="ClientName" />

			<div class="panel panel-default">
				<div class="panel-heading">@Localizer["PanelTitleNew"]</div>
				<div class="panel-body">

					<!--Input - text -->
					<div class="form-group">
						<label asp-for="Key" class="col-sm-3 control-label">
							@Html.Partial("Client/Section/Label", "PropertyKey")
						</label>
						<div class="col-sm-9">
							<input type="text" required class="form-control" asp-for="Key">
							<span asp-validation-for="Key" class="text-danger"></span>
						</div>
					</div>

					<!--Input - text -->
					<div class="form-group">
						<label asp-for="Value" class="col-sm-3 control-label">
							@Html.Partial("Client/Section/Label", "PropertyValue")
						</label>
						<div class="col-sm-9">
							<input type="text" required class="form-control" asp-for="Value">
							<span asp-validation-for="Value" class="text-danger"></span>
						</div>
					</div>

					<!--Button-->
					<div class="form-group">
						<label class="col-sm-3 control-label">
						</label>
						<div class="col-sm-9">
							<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> @Localizer["ButtonAddProperty"]</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</form>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">@Localizer["PanelTitle"]</div>
			<div class="panel-body">

				<div class="row table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>@Localizer["TableKey"]</th>
								<th>@Localizer["TableValue"]</th>
								<th></th>
							</tr>
						</thead>

						<tbody>
							@foreach (var client in Model.ClientProperties)
							{
								<tr>
									<td>@client.Key</td>
									<td>@client.Value</td>
									<td><a asp-action="ClientPropertyDelete" asp-route-id="@client.Id" class="btn btn-danger"><span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span> @Localizer["TableButtonRemove"]</a></td>
								</tr>
							}
						</tbody>
					</table>
				</div>

				<div class="row">
					@Html.Partial("Common/Pager", new Pager() { Action = "ClientProperties", PageSize = Model.PageSize, TotalCount = Model.TotalCount })
				</div>

			</div>
		</div>

	</div>
</div>
