@using Microsoft.AspNetCore.Mvc.Localization
@using Skoruba.IdentityServer4.Admin.ViewModels.Configuration
@model Skoruba.IdentityServer4.Admin.ViewModels.Configuration.ClientDto
@inject IViewLocalizer Localizer

@{
	ViewBag.Title = Localizer["PageTitle"];
	Layout = "_Layout";
}	

<form id="client-form" class="form-horizontal" asp-controller="Configuration" asp-action="ClientDelete" Method="post">
	
	<!--Hidden -->
	<input type="hidden" asp-for="Id" />
	
	<h2>@Localizer["PageTitle"]</h2>

	<div class="panel panel-default">
		<div class="panel-heading">@Localizer["PageTitle"]</div>
		<div class="panel-body">

			<!--Input - text -->
			<div class="form-group">
				<label asp-for="ClientId" class="col-sm-3 control-label">
					@Html.Partial("Client/Section/Label", "ClientId")
				</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" asp-for="ClientId" disabled="disabled" />
				</div>
			</div>

			<!--Input - text -->
			<div class="form-group">
				<label asp-for="ClientName" class="col-sm-3 control-label">
					@Html.Partial("Client/Section/Label", "ClientName")
				</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" disabled="disabled" asp-for="ClientName" />
				</div>
			</div>
			
			<!--Button-->
			<div class="form-group">
				<label class="col-sm-3 control-label">
				</label>
				<div class="col-sm-9">
					<button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> @Localizer["ButtonDelete"]</button>
				</div>
			</div>
		</div>
	</div>	
</form>