@using Microsoft.AspNetCore.Mvc.Localization
@using Skoruba.IdentityServer4.Admin.ViewModels.Configuration
@model Skoruba.IdentityServer4.Admin.ViewModels.Configuration.IdentityResourceDto
@inject IViewLocalizer Localizer

@{
	ViewBag.Title = Localizer["PageTitle"];
	Layout = "_Layout";
}

<h2>@Localizer["PageTitle"]</h2>

<form asp-action="IdentityResource" method="post" id="identity-resource-form" class="form-horizontal">

	<div asp-validation-summary="All" class="text-danger"></div>

	<!--Hidden -->
	<input type="hidden" asp-for="Id" />

	<div class="panel panel-default">
		<div class="panel-heading">@Localizer["PanelTitle"]</div>
		<div class="panel-body">

			<!--Input - text -->
			<div class="form-group">
				<label asp-for="Name" class="col-sm-3 control-label">
					@Html.Partial("IdentityResource/Section/Label", "Name")
				</label>
				<div class="col-sm-9">
					<input type="text" required class="form-control" asp-for="Name">
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
			</div>

			<!--Input - text -->
			<div class="form-group">
				<label asp-for="DisplayName" class="col-sm-3 control-label">
					@Html.Partial("IdentityResource/Section/Label", "DisplayName")
				</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" asp-for="DisplayName">
				</div>
			</div>

			<!--Input - text -->
			<div class="form-group">
				<label asp-for="Description" class="col-sm-3 control-label">
					@Html.Partial("IdentityResource/Section/Label", "Description")
				</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" asp-for="Description">
				</div>
			</div>

			<!--Checkbox-->
			<div class="form-group">
				<label asp-for="Enabled" class="col-sm-3 control-label">
					@Html.Partial("IdentityResource/Section/Label", "Enabled")
				</label>
				<div class="col-sm-9">
					<toggle-button>
						<input asp-for="Enabled" type="checkbox">
					</toggle-button>
				</div>
			</div>

			<!--Checkbox-->
			<div class="form-group">
				<label asp-for="ShowInDiscoveryDocument" class="col-sm-3 control-label">
					@Html.Partial("IdentityResource/Section/Label", "ShowInDiscoveryDocument")
				</label>
				<div class="col-sm-9">
					<toggle-button>
						<input asp-for="ShowInDiscoveryDocument" type="checkbox">
					</toggle-button>
				</div>
			</div>

			<!--Checkbox-->
			<div class="form-group">
				<label asp-for="Required" class="col-sm-3 control-label">
					@Html.Partial("IdentityResource/Section/Label", "Required")
				</label>
				<div class="col-sm-9">
					<toggle-button>
						<input asp-for="Required" type="checkbox">
					</toggle-button>
				</div>
			</div>

			<!--Checkbox-->
			<div class="form-group">
				<label asp-for="Emphasize" class="col-sm-3 control-label">
					@Html.Partial("IdentityResource/Section/Label", "Emphasize")
				</label>
				<div class="col-sm-9">
					<toggle-button>
						<input asp-for="Emphasize" type="checkbox">
					</toggle-button>
				</div>
			</div>

			<!--Select with tags-->
			<div class="form-group">
				<label asp-for="UserClaims" class="col-sm-3 control-label">
					@Html.Partial("IdentityResource/Section/Label", "UserClaims")
				</label>
				<div class="col-sm-9">
					<picker id="UserClaimsItems" multiple-select="true" min-search-text="2"
					        selected-items="@Model.UserClaims" url="/Configuration/SearchClaims?claim"
					        search-input-placeholder="Enter 2 and more characters" selected-items-title="Selected: ">
					</picker>
				</div>
			</div>

			<!--Button-->
			<div class="form-group">
				<label class="col-sm-3 control-label">
				</label>
				<div class="col-sm-9">
					<button type="submit" asp-action="IdentityResource" id="identity-resource-save-button" class="btn btn-success"><span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span> @Localizer["ButtonSave"]</button>
					@if (Model.Id != 0)
					{
					<a class="btn btn-danger" asp-action="IdentityResourceDelete" asp-route-id="@Model.Id"><span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span> @Localizer["ButtonDelete"]</a>
					}
				</div>
			</div>
		</div>
	</div>

</form>

@section scripts
	{
	<script>
		$(function () {

			//Disable enter for this form
			FormMvc.disableEnter($('#identity-resource-form'));
		});
	</script>
}