@using Microsoft.AspNetCore.Mvc.Localization
@using Skoruba.IdentityServer4.Admin.ViewModels.Common
@using Skoruba.IdentityServer4.Admin.ViewModels.Identity
@model Skoruba.IdentityServer4.Admin.ViewModels.Identity.RoleClaimsDto
@inject IViewLocalizer Localizer

@{
	ViewBag.Title = Localizer["PageTitle"];
	Layout = "_Layout";
}

<form class="form-horizontal" id="role-claims-form" asp-controller="Identity" asp-action="RoleClaims" Method="post">
	<div class="row">
		<div class="col-md-12">
			<h3>@Localizer["PageTitle"]</h3>
			
			<div asp-validation-summary="All" class="text-danger"></div>

			<a asp-action="Role" asp-route-id="@Model.RoleId" class="btn btn-info col-m-b-15">@Localizer["ButtonBackRole"]</a>

			<!--Hidden -->
			<input type="hidden" asp-for="RoleId" />

			<div class="panel panel-default">
				<div class="panel-heading">@Localizer["PanelTitleNew"]</div>
				<div class="panel-body">
					
					<!--Select with tags-->
					<div class="form-group">
						<label asp-for="ClaimType" class="col-sm-3 control-label">
							@Html.Partial("Role/Section/Label", "Type")
						</label>
						<div class="col-sm-9">
							<picker id="ClaimType" multiple-select="false" min-search-text="2"
							        selected-item="@Model.ClaimType" url="/Configuration/SearchClaims?claim"
							        search-input-placeholder="Enter 2 and more characters" selected-items-title="Selected: "
							        required="true" required-message="The Type is required.">
							</picker>
							<span asp-validation-for="ClaimType" class="text-danger"></span>
						</div>
					</div>

					<!--Input - text -->
					<div class="form-group">
						<label asp-for="ClaimValue" class="col-sm-3 control-label">
							@Html.Partial("Role/Section/Label", "Value")
						</label>
						<div class="col-sm-9">
							<input type="text" required class="form-control" asp-for="ClaimValue">
							<span asp-validation-for="ClaimValue" class="text-danger"></span>
						</div>
					</div>

					<!--Button-->
					<div class="form-group">
						<label class="col-sm-3 control-label">
						</label>
						<div class="col-sm-9">
							<button type="submit" id="role-claims-button" class="btn btn-info"><span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"></span> @Localizer["ButtonAddClaim"]</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</form>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">@Localizer["PanelTitle"]</div>
			<div class="panel-body">

				<div class="row table-responsive">
					<table class="table table-striped">
						<thead>
						<tr>
							<th>@Localizer["TableType"]</th>
							<th>@Localizer["TableValue"]</th>
							<th></th>
						</tr>
						</thead>

						<tbody>
						@foreach (var client in Model.Claims)
						{
							<tr>
								<td>@client.ClaimType</td>
								<td>@client.ClaimValue</td>
								<td><a asp-action="RoleClaimsDelete" asp-route-claimId="@client.ClaimId" asp-route-id="@Model.RoleId" class="btn btn-danger">@Localizer["TableButtonRemove"]</a></td>
							</tr>
						}
						</tbody>
					</table>
				</div>
				
				<div class="row">
					@Html.Partial("Common/Pager", new Pager() { Action = "RoleClaims", PageSize = Model.PageSize, TotalCount = Model.TotalCount })
				</div>

			</div>
		</div>
	</div>
</div>

@section scripts
{
	<script>
		$(function () {
			//Disable enter for this form
			FormMvc.disableEnter($('#role-claims-form'));

			//Allow validate hidden field
			FormMvc.allowValidateHiddenField($('#role-claims-form'));
		});
	</script>
}