@using Microsoft.AspNetCore.Mvc.Localization
@model Skoruba.IdentityServer4.Admin.BusinessLogic.Dtos.Identity.UserClaimsDto<Guid>
@inject IViewLocalizer Localizer

@{
	ViewBag.Title = Localizer["PageTitle"];
	Layout = "_Layout";
}

<form asp-controller="Identity" asp-action="UserClaimsDelete" Method="post">
	<div class="row">
		<div class="col-md-12">
			<h3>@Localizer["PageTitle"]</h3>

			<a asp-action="UserProfile" asp-route-id="@Model.UserId" class="btn btn-outline-primary mb-3">@Localizer["ButtonBackUser"]</a>

			<!--Hidden -->
			<input type="hidden" asp-for="UserId" />

			<!--Hidden -->
			<input type="hidden" asp-for="ClaimId" />

			<div class="card mt-3">
				<h5 class="card-header">@Localizer["PanelTitle"]</h5>
				<div class="card-body">
					<!--Input - text -->
					<div class="form-group row">
						<label asp-for="ClaimType" class="col-sm-3 col-form-label">
							@await Html.PartialAsync("User/Section/Label", "Type")
						</label>
						<div class="col-sm-9">
							<input type="text" disabled="disabled" class="form-control" asp-for="ClaimType">
						</div>
					</div>

					<!--Input - text -->
					<div class="form-group row">
						<label asp-for="ClaimValue" class="col-sm-3 col-form-label">
							@await Html.PartialAsync("User/Section/Label", "Value")
						</label>
						<div class="col-sm-9">
							<input type="text" disabled="disabled" class="form-control" asp-for="ClaimValue">
						</div>
					</div>

					<!--Button-->
					<div class="form-group row">
						<label class="col-sm-3 col-form-label">
						</label>
						<div class="col-sm-9">
							<button type="submit" class="btn btn-danger">@Localizer["ButtonDeleteUserClaim"]</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>