@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
	ViewBag.Title = Localizer["PageTitle"];
	Layout = "_Layout";
}

@*<div class="row">
		<div class="col-md-12">
			<h1>@Localizer["PageTitle"]</h1>

			<h3>@Localizer["PageTitleManageClients"]</h3>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<a asp-controller="Configuration" asp-action="Clients" class="btn btn-lg btn-info">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span> @Localizer["ButtonClients"]
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<a asp-controller="Configuration" asp-action="IdentityResources" class="btn btn-lg btn-info">
						<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> @Localizer["ButtonIdentityClients"]
					</a>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-12">
					<a asp-controller="Configuration" asp-action="ApiResources" class="btn btn-lg btn-info">
						<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> @Localizer["ButtonApiResources"]
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<a asp-controller="Grant" asp-action="PersistedGrants" class="btn btn-lg btn-info">
						<span class="glyphicon glyphicon-lock" aria-hidden="true"></span> @Localizer["ButtonPersistedGrants"]
					</a>
				</div>
			</div>

			<h3>@Localizer["PageTitleManageUsers"]</h3>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<a asp-controller="Identity" asp-action="Users" class="btn btn-lg btn-info">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span> @Localizer["ButtonUsers"]
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<a asp-controller="Identity" asp-action="Roles" class="btn btn-lg btn-info">
						<span class="glyphicon glyphicon-tag" aria-hidden="true"></span> @Localizer["ButtonRoles"]
					</a>
				</div>
			</div>

			<h3>@Localizer["PageTitleLogs"]</h3>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<a asp-controller="Log" asp-action="ErrorsLog" class="btn btn-lg btn-info">
						<span class="glyphicon glyphicon-fire" aria-hidden="true"></span> @Localizer["ButtonErrorLogs"]
					</a>
				</div>
			</div>
		</div>
	</div>*@

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1 class="display-4">Skoruba IdentityServer4 Admin</h1>
	<p class="lead">The administration for the IdentityServer4 v2 and Asp.Net Core Identity</p>
	<p class="lead">It is possible to manage following parts:</p>
</div>

<!-- Cards -->
<div class="card-deck mb-3 text-center">
	<!-- Clients -->
	<div class="card mb-4 box-shadow">
		<div class="card-header">
			<h4 class="my-0 font-weight-normal">@Localizer["ButtonClients"]</h4>
		</div>
		<div class="card-body">
			<h1 class="card-title">
				<span class="oi oi-monitor" title="Clients" aria-hidden="true"></span>
			</h1>
			<a asp-controller="Configuration" asp-action="Clients" class="btn btn-lg btn-block btn-primary">Manage</a>
		</div>
	</div>
	<!-- Identity Resources -->
	<div class="card mb-4 box-shadow">
		<div class="card-header">
			<h4 class="my-0 font-weight-normal">@Localizer["ButtonIdentityClients"]</h4>
		</div>
		<div class="card-body">
			<h1 class="card-title">
				<span class="oi oi-tags" title="Identity Resources" aria-hidden="true"></span>
			</h1>
			<a  asp-controller="Configuration" asp-action="IdentityResources" class="btn btn-lg btn-block btn-outline-primary">Manage</a>
		</div>
	</div>
	<!-- Api Resources -->
	<div class="card mb-4 box-shadow">
		<div class="card-header">
			<h4 class="my-0 font-weight-normal">@Localizer["ButtonApiResources"]</h4>
		</div>
		<div class="card-body">
			<h1 class="card-title">
				<span class="oi oi-cloud" title="Api Resources" aria-hidden="true"></span>
			</h1>
			<a asp-controller="Configuration" asp-action="ApiResources" class="btn btn-lg btn-block btn-primary">Manage</a>
		</div>
	</div>
</div>
<div class="card-deck mb-3 text-center">
	<!-- Persisted Grants -->
	<div class="card mb-4 box-shadow">
		<div class="card-header">
			<h4 class="my-0 font-weight-normal">@Localizer["ButtonPersistedGrants"]</h4>
		</div>
		<div class="card-body">
			<h1 class="card-title">
				<span class="oi oi-key" title="Persisted Grants" aria-hidden="true"></span>
			</h1>
			<a asp-controller="Grant" asp-action="PersistedGrants" class="btn btn-lg btn-block btn-outline-primary">Manage</a>
		</div>
	</div>
	<!-- Users -->
	<div class="card mb-4 box-shadow">
		<div class="card-header">
			<h4 class="my-0 font-weight-normal">@Localizer["ButtonUsers"]</h4>
		</div>
		<div class="card-body">
			<h1 class="card-title">
				<span class="oi oi-person" title="Users" aria-hidden="true"></span>
			</h1>
			<a  asp-controller="Identity" asp-action="Users" class="btn btn-lg btn-block btn-primary">Manage</a>
		</div>
	</div>
	<!-- Roles -->
	<div class="card mb-4 box-shadow">
		<div class="card-header">
			<h4 class="my-0 font-weight-normal">@Localizer["ButtonRoles"]</h4>
		</div>
		<div class="card-body">
			<h1 class="card-title">
				<span class="oi oi-lock-locked" title="Roles" aria-hidden="true"></span>
			</h1>
			<a asp-controller="Identity" asp-action="Roles" class="btn btn-lg btn-block btn-outline-primary">Manage</a>
		</div>
	</div>
</div>