@using Microsoft.AspNetCore.Mvc.Localization
@using Skoruba.IdentityServer4.Admin.ViewModels.Configuration
@model Skoruba.IdentityServer4.Admin.ViewModels.Configuration.ClientDto
@inject IViewLocalizer Localizer

<div class="panel panel-default">
	<div class="panel-heading">@Localizer["PanelTitle"]</div>
	<div class="panel-body">
		<!--Input - text -->
		<div class="form-group">
			<label asp-for="FrontChannelLogoutUri" class="col-sm-3 control-label">
				@Html.Partial("Client/Section/Label", "FrontChannelLogoutUri")
			</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" asp-for="FrontChannelLogoutUri">
			</div>
		</div>

		<!--Checkbox-->
		<div class="form-group">
			<label asp-for="FrontChannelLogoutSessionRequired" class="col-sm-3 control-label">
				@Html.Partial("Client/Section/Label", "FrontChannelLogoutSessionRequired")
			</label>
			<div class="col-sm-9">
				<toggle-button>
					<input asp-for="FrontChannelLogoutSessionRequired" type="checkbox">
				</toggle-button>
			</div>
		</div>

		<!--Input - text -->
		<div class="form-group">
			<label asp-for="BackChannelLogoutUri" class="col-sm-3 control-label">
				@Html.Partial("Client/Section/Label", "BackChannelLogoutUri")
			</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" asp-for="BackChannelLogoutUri">
			</div>
		</div>

		<!--Checkbox-->
		<div class="form-group">
			<label asp-for="BackChannelLogoutSessionRequired" class="col-sm-3 control-label">
				@Html.Partial("Client/Section/Label", "BackChannelLogoutSessionRequired")
			</label>
			<div class="col-sm-9">
				<toggle-button>
					<input asp-for="BackChannelLogoutSessionRequired" type="checkbox">
				</toggle-button>
			</div>
		</div>

		<!--Checkbox-->
		<div class="form-group">
			<label asp-for="EnableLocalLogin" class="col-sm-3 control-label">
				@Html.Partial("Client/Section/Label", "EnableLocalLogin")
			</label>
			<div class="col-sm-9">
				<toggle-button>
					<input asp-for="EnableLocalLogin" type="checkbox">
				</toggle-button>
			</div>
		</div>

		<!--Select with tags-->
		<div class="form-group">
			<label asp-for="PostLogoutRedirectUris" class="col-sm-3 control-label">
				@Html.Partial("Client/Section/Label", "PostLogoutRedirectUris")
			</label>
			<div class="col-sm-9">
				<picker id="PostLogoutRedirectUrisItems" multiple-select="true" min-search-text="2"
				        selected-items="@Model.PostLogoutRedirectUris" search-input-placeholder="Enter 2 and more characters" 
				        selected-items-title="Selected: ">
				</picker>
			</div>
		</div>

		<!--Select with tags-->
		<div class="form-group">
			<label asp-for="IdentityProviderRestrictions" class="col-sm-3 control-label">
				@Html.Partial("Client/Section/Label", "IdentityProviderRestrictions")
			</label>
			<div class="col-sm-9">
				<picker id="IdentityProviderRestrictionsItems" multiple-select="true" min-search-text="2"
						selected-items="@Model.IdentityProviderRestrictions" search-input-placeholder="Enter 2 and more characters"
						selected-items-title="Selected: ">
				</picker>
			</div>
		</div>
	</div>
</div>